---
layout: default
title: "Team Projects"
permalink: /team-projects/
---

<article class="page-article">
    <div class="wrap-content">
        <header class="page-header">
            <h1 class="page-title">{{page.title}}</h1>
        </header>
        <div class="page-content">
            {% for post in site.team_projects %}
            <div class="project-post" style="padding-bottom: 20px; border-bottom: 1px solid #ddd; margin-bottom: 40px;">
                <header class="page-header">
                    <h1 class="page-title">{{post.title}}</h1>
                </header>
                <div class="page-date"><span>{{ post.date | date: '%Y, %b %d' }}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                {% if post.img %}
                <img class="page-img" src="{{ "/assets/img/" | prepend: site.baseurl | append: post.img }}" alt="{{ post.title }}">
                {% endif %}
                <p>{{ post.description }}</p>
                <a href="{{ post.url }}" class="read-more">Read More</a>
            </div>
            {% endfor %}
        </div>
    </div>
</article>
