<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% endif %}
      </a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/team-projects/">Team Project</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/personal-projects/">Personal Project</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/algorithm/">Algorithm</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About Me</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items">
        <a href="https://kimgusxo.tistory.com" class="social-links" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/icon/tistory.svg" alt="Tistory Icon" width="24" height="24" color="white">
        </a>
      </li>
      </t>
      <li class="social-items"><a href="https://github.com/{{site.github}}" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
      </t>
      <li class="social-items">
        <a href="https://www.acmicpc.net/user/kimgusxo" class="social-links" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/assets/icon/baekjoon.svg" alt="Baekjoon Icon" width="24" height="24" color="white">
        </a>
      </li>
    </div>
  </div>
</aside>
